*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  gap: 1rem;
}
